<form novalidate [formGroup]="loginform" (ngSubmit)="login(loginform.value)">
    
  <div class="form-group">
      <div class="row">
          <div class="col-md-4">
          </div>
        
          <div class="col-md-4" style="margin-top:20%">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="username" #username formControlName="username" class="form-control" placeholder="Username" aria-label="username" aria-describedby="basic-addon1">
            </div>    
            
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                <input type="password" formControlName="password" class="form-control" placeholder="Password" aria-label="password" aria-describedby="basic-addon2">
            </div>

            <div class="alert alert-danger text-center" *ngIf="errormsg">
              {{errormsg}}<br />
            </div>    

            <div class="text-center">
              <input type="submit" class="btn btn-primary" [disabled]="!loginform.valid" value="Login" >
            </div>
            <br />   

            <div class="text-center">
              <a onclick="return false;" href="#" (click)="createNewUser()">Create new user</a>
            </div> 

          </div>
          
          <div class="col-md-4">
          </div>
          
      </div>      
      <br />
  </div>     
  
</form>      